
/* COMMON */

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

$blue: #575BE0;
$red: #F67273;
$blue-gray: #A0A0B3;
$light-gray: #D6D6E3;

$header-height: 80px;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #333;
  font-family: 'NanumSquareNeo-Variable';
  background-color: lighten($blue, 30%);
}

button,input,textarea {
  background: none;
  border: none;
  outline: none;
  font-family: 'NanumSquareNeo-Variable';
}

button {cursor: pointer;}

/* TODOLIST */

#wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  width: 550px;
  height: 80vh;
  max-height: 80vh;
  

  main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 4px #00000027;

    header{
      height: $header-height;
      background-color: $blue;
      border-radius: 10px 10px 0 0;
      
      .date{
        text-align: center;
        color: #fff;
        font-size: 16px;
        line-height: $header-height;
        cursor: default;
      }
    }//header
  
    >section{
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      position: relative;
      max-height: calc(80vh - $header-height - 25px - 45px);
      padding: 20px 10px;
      background-color: #fff;
      border-radius: 0 0 10px 10px;
      
      >ul{
        flex-grow: 1;
        width: 100%;
        overflow-y: auto;
        padding: 0 10px;

        &::-webkit-scrollbar{
            width: 4px;
        }

        &::-webkit-scrollbar-thumb{
            background: $blue;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-track{
            background: #eee;
            border-radius: 20px;
        }

        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          padding: 8px 0;
          border-bottom: 1px solid $light-gray;

          &.checked {
            p {
              color: $blue-gray;
              text-decoration: line-through;
            }
          }

          p {
            flex-grow: 1;
            line-height: 1.2;
            // word-break: keep-all;
            cursor: default;
          }

          >div {
            span {
              display: block;
              width: max-content;
              font-size: 10px;
              line-height: 1.3;
              white-space: nowrap;
              color: $blue-gray;
            }
          }

          button {
            min-width: 42px;
            padding: 5px 8px;
            border-radius: 3px;

            &.edit {
              background-color: $light-gray;

              &:hover {
                background-color: darken($light-gray, 5%);
              }
            }

            &.del {
              color: #fff;
              background-color: $red;

              &:hover {
                background-color: darken($red, 5%);
              }
            }
          }//button
        }//li
      }//ul

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px 0;
        
        button {
          display: none;
          padding: 8px 10px;
          color: #fff;
          background-color: $red;
          border-radius: 3px;

          &:hover {
            background-color: darken($red, 5%);
          }
        }
      }//.delete-all

      .no-todo {
        display: none;
        position: absolute;
        width: 210px;
        height: 18px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        color: $blue-gray;
        text-align: center;
        line-height: 1.3;
        cursor: pointer;
        transition: color .1s;

        &:hover {
          color: darken($blue-gray, 5%);
        }
      }//.no-todo

      .loading{
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        width: 48px;
        height: 48px;
        margin: auto;
        background-image: url(../images/icons8-dots-loading.gif);
      }//.loading

    }//section
  }

  >form{
    display: flex;
    width: 100%;
    height: 45px;
    box-shadow: 0 0 4px #00000027;
    
    >input{
      padding: 0 10px;
      background-color: #fff;
      border: 1px solid $blue;
      border-radius: 5px 0 0 5px;
      flex: 1;
    }//input
    
    >button{
      color: #fff;
      background-color: $blue;
      border-radius: 0 5px 5px 0;

      &:hover{
        background-color: darken($blue, 5%);
      }
    }
  }//form
}//#wrap